.header{
    height: 124px;
    width: 100%;
    position: relative;
    line-height: 124px;
    text-align: center;
    background: #fafafa;

    .back{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        margin-left: 24px;
        display: none;
        z-index: 200;
        &.show{
            display: block;
        }

    }
    h3{
        position: relative;
        color: #444444;
        font-size: 45px;
        font-weight: bold;

    }
}