.topic {
  .allTopic {
    .item a {
      display: flex;
      padding: 50px;
      .imgBox {
        height: 60px;
        width: 60px;
        border: 1px solid #c2c2c2;
        border-radius: 50%;
        padding: 10px;
                  margin-right: 40px;
        img {
          width: 60px;
          height: 60px;

        }
      }
      .center {
        h2 {
          font-size: 44px;
          color: #333333;
          font-weight: bold;
          line-height: 52px;
          margin-bottom: 30px;
        }
        .content{
            font-size: 36px;
            line-height: 44px;
        }
      }
    }
  }
}
